# Compiled python #
###################

*.pyc


# Data files #
##############

*.nc
*.db

# mess #
########

*.out

# Log files #
#############

*.log
*.swp

# Os files #
############

.DS_Store
.DS_Store?
._*
.spotlight-v100
.Trashes
Thumbs.db

# Image files #
###############

*.png
*.gif
*.eps
*.pdf

# sub-dirs #
############

Glider_QC_Plots/
